body {
  font-family: 'Cardo', serif;
}

.banner {
  background-image: url('images/background.jpg');
  background-size: cover;
  background-position: center;
  padding: 120px 0px;
  text-align: center;
  font-weight: normal;
  margin-bottom: 50px;
}

.language {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  font-weight: bold;
}

.language a {
  text-decoration: none;
  color: #3c4245;
}

.language a:hover {
  color: #bb7171;
}

.banner h1 {
  font-family: 'Playfair Display SC', serif;
  font-size: 50px;
}

.contactbutton {
  text-align: center;
  font-size: 20px;
  background-color: #3c4245;
  color: white;
  transition: .3s;
  border-radius: 4px;
  padding: 10px 30px;
  margin-top: 55px;
}

.contactbutton:hover {
  background-color: #bb7171;
  text-decoration: none;
  color: white;
}

h2 {
  margin-left: 20px;
}

.line {
  height: 2px;
  margin: 0px 20px 35px;
  background-color: #bb7171;
}

h3 {
  font-size: 23px;
}

.mycards {
  margin-bottom: 60px;
  text-align: center;
}

.photo {
  height: 350px;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin-bottom: 15px;
}

#weddingphoto {
  background-image: url('images/wedding.png');
}

#portraitphoto{
  background-image: url('images/portrait.png');
}

#maternityphoto{
  background-image: url('images/baby.png');
}

.aboutme {
  text-align: justify;
}

#aboutmephoto{
  background-image: url('images/axelle.png');
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: center;
  padding: 55px;
}

.aboutme p {
  padding-top: 30px;
}

.footer {
  background-color: #3c4245;
  color: white;
  padding: 20px 0 20px 20px;
  margin-top: 60px;
}
